.vscode/
*.o
*.mod
*.exe
*.out
*.class
*.log
*.tmp
.DS_Store
node_modules/
dist/
build/
.env
.idea/
*.iml
*.swp
*.bak
*.orig
coverage/
*.pyc
__pycache__/
.env.local
.env.development.local
.env.test.local
.env.production.local
NetCDFs/
output/